[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures can get huge
[Mm]emoryCaptures/

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.suo
*.tmp
*.apk
*.aab

# OS junk
.DS_Store
Thumbs.db

#Random Stuff
/Linux/
/Build/
/Builds/
/Library/
/Temp/
/Obj/
/Logs/
